.THIS.background{
	background-image:url('https://raw.githubusercontent.com/mshanemc/platformTrial/master/assets/introBackground.png');
	min-height: 75vh;
	margin: -0.75rem;
	background-repeat: no-repeat;
	background-size: 100% 120%;
}

.THIS {
	color:white;
}

.THIS .selection_box{
	background-color: rgba(255, 255, 255, 0.76);
	color:rgb(22, 50, 92);
	min-height: 40vh;
	border : rgba(119, 74, 6, 0) 10px solid;
	background-position: bottom;

}

.THIS .selection_box.selected{
	background-color: rgba(255, 255, 255, 1);
	/* border : rgb(0, 112, 210) 10px solid; */
}

.THIS .selection_box p {
	text-align: center;
	min-height:200px;
}

.THIS .selection_box h1 {
	text-align: center;
	min-height:100px;
}

.THIS .selection_box img {
	width:100%;
}

.THIS button.slds-button_huge {
  width: 100%;
  height: 50px;
  font-size: 1.2rem;
}