PlatformTrial.sublime-project
PlatformTrial.sublime-workspace
.sfdx/*

.classpath
.DS_Store
**/.DS_Store
.sfdx
.project
.salesforce
node_modules
.idea
.tern-project
.settings
selenium-client-jars/
test/artifacts

.vscode
**sko
**concierge
mdapideploy.sh
