/*panel width*/
.THIS .slds-utility-panel.slds-grid.slds-grid_vertical.slds-is-open{
	width: 400px;
}

.THIS .slds-utility-panel__body {
	background-color: rgba(245, 245, 245, 0.87);
}

.THIS .slds-text-heading_medium {
	font-size:1.2rem;
}

.THIS .uiOutputRichText > p, .THIS .uiOutputRichText > ol > li {
	font-size: 0.8rem;
}